<!--<h1>New presentation</h1>-->

<%#= render 'form' %>
<style>
    #fwrapper {
        margin: 40px;
        padding: 40px;
        background: white;;
    }
</style>
<div id="fwrapper">
  <h1>New Presentation for <%= current_client.name.titlecase %></h1>

  <%= form_for(@presentation) do |f| %>
      <br/>
      <%#= f.hidden_field :client_id, value: current_client.id %>
      <%= f.text_field :title, placeholder: "Presentation Name", style: "font-size:24px;margin-bottom:5px;padding-left:5px;" %>
      <br/>
      <%= f.submit "Create Campaign", class: "btn btn-danger btn-lg" %>
  <% end %>

</div>

<%= link_to 'Back', presentations_path %>
