
<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="application/xhtml+xml; charset=UTF-8" />
  <title>Spatial Access</title>

  <link href='http://fonts.googleapis.com/css?family=Economica' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

  <link href="/css/responsive-slider-parallax.css" rel="stylesheet">


  <meta http-equiv="Content-Language" content="en">
  <meta name="Description" content="Web development at Dot where design and technology meet" />
  <meta name="Keywords" content="web development website design django framework html5 webgl 3d responsive parallax" />

  <meta name="robots" content="index,follow" />

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">

  <link rel="icon" type="image/png" href="/static/img/fav.png">
  <link type="text/css" rel="stylesheet" href="/static/style/lib.css">
  <link type="text/css" rel="stylesheet" href="/static/style/fonts.css">
  <script type="text/javascript" src="/static/js/third_party/modernizr.custom.js"></script>

  <link type="text/css" rel="stylesheet" href="/static/style/general.css">
  <link type="text/css" rel="stylesheet" href="/static/style/slides.css">
  <link type="text/css" rel="stylesheet" href="/static/style/navigation.css">
  <link type="text/css" rel="stylesheet" href="/static/style/adapt.css">
  <link type="text/css" rel="stylesheet" href="/static/style/minimal_footer.css">
  <link type="text/css" rel="stylesheet" href="/static/style/loader.css">
  <style>
      .dropdown-menu li a {
          color: black;

      }
  </style>
</head>
<body  class='unloaded'>





<div class='preloaderCont vAligner alignCenter'>
  <span class='ending'><img src="/static/logo/SPATIAL ACCESS2.svg" /></span><span class='starting'><img src="/static/logo/SPATIAL ACCESS1.svg" /></span>
</div>

<!--<img class="loadBackground" src="/parallax_img/background.jpg" style="margin-top: 40px">-->

<div style='display: none' class='preloadedImages'>
  <img alt="0" class="parallaxBackground" src="/parallax_img/background.jpg"/>
  <% @slide.childs.each do |cslide| %>
        <% cslide.childs.each do |ccslide| %>
            <img alt=<%=ccslide.seq %> src=<%=ccslide.image %> height="92%"  style="left: 195px;">
        <% end %>
  <% end %>
</div>

<div id="parallax" style="bottom: 50px;">

  <img alt="0" class="parallaxBackground" src="/parallax_img/background.jpg" />

  <% @slide.childs.each do |cslide| %>
      <div id="slide<%= cslide.id  %>"  >
        <% cslide.childs.each do |ccslide| %>
            <img alt=<%=ccslide.seq %> src=<%=ccslide.image %> height="92%" style="left: 195px">
        <% end %>
      </div>
  <% end %>
</div>

<div class="nav-animation">
  <img src="/static/img/mouse.png" class="active">
  <img src="/static/img/arrows.png">
</div>
<a class="right-arrow">
  <img src="/static/img/arrow_right.png">
</a>
<a class="left-arrow">
  <img src="/static/img/arrow_left.png">
</a>

<div id="footer" style="bottom: -35px;">

  <ul class="aligner root footer-menu">
    <li class="team">
      <a href="/en/we/">Home</a>
    </li>
    <li class="works">
      <% Slide.where(:root => true).each do |s| %>
        <li>
          <div class="dropup">
            <button type="button" class="btn btn-default"><%= s.name %></button>
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
              <span class="caret"></span>
              <span class="sr-only">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu" role="menu">
              <% if !s.childs.nil? %>
              <% s.childs.each do |cs| %>
                  <li><a href="#" style="color:black"><%= cs.name %></a></li>
              <% end %>
              <% end %>
            </ul>
          </div>
        </li>
    <% end %>
    </li>
  </ul>
</div>



<script type="text/javascript" src="/static/js/third_party/jquery.js"></script>
<script type="text/javascript" charset="utf-8" src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/js/lib.js"></script>
<script type="text/javascript" src="/static/js/general.js"></script>


<script type="text/javascript" src="/static/js/third_party/jquery.mousewheel.js"></script>
<script type="text/javascript" src="/static/js/third_party/jquery.custom.js"></script>
<script type="text/javascript" src="/static/js/parallax.js"></script>
<script type="text/javascript" src="/static/js/index/resizeables.js"></script>
<script type="text/javascript" src="/static/js/index/preloader.js"></script>
<script type="text/javascript" src="/static/js/custom_events.js"></script>

<script type="text/javascript" src="/static/js/index/i.js"></script>
<script type="text/javascript" src="/static/js/nav.js"></script>
<script>
    $(document).ready(function () {
        $('.dropdown-menu').css("left", "auto");
    });
</script>
</body>
</html>
