<style>

    ol, ul, li {
        list-style: none outside none;
        text-align: left;
    }
    .sidebar_wrap {
        background: none repeat scroll 0 0 #C4C7C9;
        border-bottom-right-radius: 10px;
        border-top-right-radius: 10px;
        box-shadow: 3px 3px 8px #999899;
        float: left;
        height: auto;
        margin-top: 3px;
        width: 220px;
    }
    /*LEFTSIDE MAIN MENU SIDE BAR*/
    #mainNav{
        margin-left: -40px;
    }
    .sidebar_wrap{width:220px;height:auto;margin-top:3px;-webkit-border-top-right-radius: 10px;-webkit-border-bottom-right-radius: 10px;-moz-border-top-right-radius: 10px;-moz-border-bottom-right-radius: 10px;border-top-right-radius: 10px;border-bottom-right-radius: 10px;-webkit-box-shadow: #999899 3px 3px 8px;-moz-box-shadow: #999899 3px 3px 8px;box-shadow: #999899 3px 3px 8px;background:#c4c7c9;float:left; }
    .menu_container{width:220px;height:auto;padding:42px 24px 16px 33px; top:-3px; -webkit-border-top-right-radius: 7px;-webkit-border-bottom-right-radius: 7px;-moz-border-top-right-radius: 7px;-moz-border-bottom-right-radius: 7px;border-top-right-radius: 7px;border-bottom-right-radius: 7px; position:relative;background:#FFF;}

    h1.site_logo{display:block;margin-bottom:26px;}
    h1.site_logo a{width:154px;height:148px;display:block;background: url(http://spatialaccess.com/wp-content/themes/spatialaccess/images/logo-spatialaccess.gif) no-repeat;overflow:hidden;text-indent:-9999px;}

    li.item101{display:none;}
    ul#mainNav li a{font-size:15px; line-height:22px; font-weight:normal; color:#666666;}
    ul#mainNav li a:hover{font-size:15px; line-height:22px; font-weight:normal; color:#9c0000;}
    ul#mainNav li.selected > a{font-size:15px; line-height:22px;  font-family: 'PTSansCaptionBold', Arial, Helvetica, sans-serif; color:#9c0000; }

    ul#mainNav li ul{border-bottom:1px solid #dadbdb; margin-bottom:6px; padding-bottom:6px; display:none;}
    ul#mainNav li ul li a {font-size:14px; line-height:19px; font-weight:normal; color:#000;}
    ul#mainNav li ul li a:hover, ul#mainNav li ul li.selected > a {color:#9c0000; font-size:14px; line-height:19px;   }
    ul#mainNav li ul li ul li{padding-bottom:3px;}
    ul#mainNav li ul li ul li a { font-size:11px; line-height:13px; display:block; font-weight:normal; color:#000;}
    ul#mainNav li ul li ul li a:hover, ul#mainNav li ul li ul li.selected > a { font-size:11px; line-height:13px; color:#9c0000;}

    ul#mainNav li ul li ul{border-bottom:0px none; margin-bottom:4px; padding-bottom:0px; padding-top:2px;}
    ul#mainNav li ul li ul li ul{ margin-left:2px; padding-left:12px; border-left:1px solid #9c0000; border-bottom:0px none; margin-bottom:4px; padding-bottom:0px;}

    ul#mainNav li ul li ul li ul li a { font-size:11px; line-height:15px; font-weight:normal; color:#000;}
    ul#mainNav li ul li ul li ul li a:hover, ul#mainNav li ul li ul li ul li.selected > a { font-size:11px; line-height:15px; color:#9c0000;}

    ul#subNav{  position:absolute; right:0px; margin-top:-30px;}
    ul#subNav li{ float:left; border-right:1px solid #a1a3a3; line-height:16px; padding-left:5px; padding-right:5px;}
    ul#subNav li a{font-size:10px; line-height:16px; font-weight:normal; color:#a1a3a3;}
    ul#subNav li a:hover,ul#subNav li.selected a {font-size:10px; line-height:16px; color:#4b4b4d;}
    ul#mainNav li.selected > a{font-weight:bold;}


</style>
<link rel="stylesheet" href="http://spatialaccess.com/wp-content/themes/spatialaccess/css/nivo-slider.css" type="text/css">
<div id="wrapper">
  <div id="menu-section" class="col-lg-3 col-lg-offset-0 col-md-offset-0 col-md-3 col-sm-offset-0 col-sm-3 col-xs-3">
    <ul id="scene">
      <!--<li id="layer0" class="layer" data-depth="0.10"><img src="/assets/layer0.png"></li>-->
      <!--<li id="layer1" class="layer" data-depth="0.20"><img src="/assets/layer1.png"></li>-->
      <!--<li id="layer2" class="layer" data-depth="0.30"><img src="/assets/layer2.png"></li>-->
      <!--<li id="layer3" class="layer" data-depth="0.40"><img src="/assets/layer3.png"></li>-->
      <!--<li id="layer4" class="layer" data-depth="0.50"><img src="/assets/layer4.png"></li>-->
      <!--<li id="layer5" class="layer" data-depth="0.60"><img src="/assets/layer5.png"></li>-->
      <!--<li id="layer6" class="layer" data-depth="0.70"><img src="/assets/layer6.png"></li>-->
    </ul>
    <div class="grower"><%#= image_tag "logoname.png" %></div>
    <aside class="sidebar_wrap" style="margin-top:90px;">

      <div class="menu_container">
        <h1 class="site_logo" ><a class="logo-wrapper" href="/" title="Spatial Access" rel="home">Spatial Access</a></h1>
        <div id="access" role="navigation">
          <div class="menu-header">
            <ul id="mainNav" class="main-nav">
              <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-19">
                <a href="<%= campaign_path(current_client.campaigns.where(active: true).last) %>">Sampler</a>
              </li>
            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-161">
              <a href="/presentor">Services</a>
            </li>
            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-202"><a href="/campaigns">Campaigns</a></li>
            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-203"><a href="/admin">Admin</a></li>
            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-212"><%= link_to "Sign out", destroy_user_session_path, :method => 'delete' %></li>
          </ul>
          </div>
        </div><!-- #access -->

        <!--<ul class="main-nav" id="mainNav">
          <li class="selected item101"><a href="index.html">Home</a></li>
          <li class=" parent item102"><a href="about-us.html">About Us</a>
              <ul>
             <li class="item110"><a href="founders.html">Founders</a></li>
             <li class="item111"><a href="team.html">Team</a></li>
             <li class="item112"><a href="structure.html">Structure</a></li>
             <li class="item113"><a href="identity.html">Identity</a></li>
             <li class="item114"><a href="affiliations.html">Affiliations</a></li>
           </ul>
          </li>
          <li class="parent item103"><a href="services.html">Services</a>
              <ul style="display: block;">
             <li class="parent item115"><a href="media-audit.html">Audit</a>
              <ul style="display: block;">
                 <li class="parent item119"><a href="media-audit.html">• Media Audit</a>
                  <ul style="display: block;">
                     <li class="item121"><a href="planning-audit.html">Planning Audit</a></li>
                     <li id="current" class="item122"><a href="buying-audit.htm">Buying Audit</a></li>
                     <li class="item123"><a href="implementation-audit.html">Implementation Audit</a></li>
                     <li class="item124"><a href="process-audit.html">Process Audit</a></li>
                   </ul>
                </li>
                 <li class="parent item120"><a href="marketing-service-audit.html">• Marketing Services Audit</a>
                  <ul>
                     <li class="item133"><a href="film-production-audit.html">Film Production Audit</a></li>
                     <li class="item134"><a href="print-production-audit.html">Print Production Audit</a></li>
                     <li class="item135"><a href="event-audit.html">Event Audit</a></li>
                     <li class="item136"><a href="public-relations-pr-audit.html">Public Relations (PR) Audit</a></li>
                   </ul>
                </li>
               </ul>
            </li>
            <li class="parent item116"><a href="advisory.html">Advisory</a>
              <ul>
                 <li class="item128"><a href="media-planning-advisory.html">• Media Planning Advisory</a></li>
                 <li class="item129"><a href="media-buying-advisory.html">• Media Buying Advisory</a></li>
                 <li class="item130"><a href="production-advisory.html">• Production Advisory</a></li>
               </ul>
            </li>
             <li class="parent item117"><a href="analytics.html">Analytics</a>
              <ul>
                 <li class="item137"><a href="brand-impact-audit.html">• Brand Impact Audit</a></li>
                 <li class="item131"><a href="media-integrated-research-analysis.html">• Media Integrated Research Analysis (MIRA)</a></li>
               </ul>
            </li>
             <li class="item118"><a href="partner-evaluation.html">Partner Evaluation</a></li>
             <li class="item132"><a href="training.html">Training</a></li>
           </ul>
          </li>
          <li class="item104"><a href="footprint.html">Footprint</a></li>
          <li class="item105"><a href="client-testimonials.html">Client Testimonials</a></li>
          <li class="item106"><a href="life-at-sa.html">Life at SA</a></li>
          <li class="item107"><a href="faq.html">FAQs</a></li>
          <li class="parent item108"><a href="press-room.html">Press Room</a>
          <ul>
             <li class="item139"><a href="articles-by-ceo.html">Articles by CEO</a></li>
             <li class="item138"><a href="interviews.html">Interviews</a></li>
             <li class="item140"><a href="launches.html">Launches</a></li>
             <li class="item141"><a href="features-and-quotes.html">Features and Quotes</a></li>
             <li class="item142"><a href="sa-in-the-news.html">SA: In the News</a></li>
           </ul>
          </li>
          <li class="item109"><a href="contact-us.html">Contact Us</a></li>
          </ul>-->
      </div><!--main_container-->
    </aside><!--menu_sidebar-->
  </div>
  <div id="matter-section" class="col-lg-6 col-lg-offset-0 col-md-offset-0 col-md-6 col-sm-6 col-xs-6">
    <div id="content-boxes" class="col-lg-8 col-lg-offset-0 col-md-8 col-sm-8 col-xs-8">
      <div id="mb_pattern" class="mb_pattern"></div>
      <div id="mb_content_wrapper" class="mb_content_wrapper">
        <span class="mb_close"></span>

        <div class="mb_content">
          <h2>About</h2>

          <div class="mb_content_inner">
            <p>His many legs, pitifully thin compared with the size of the rest of him, waved about helplessly as he
              looked. "What's happened to me? " he thought. It wasn't a dream. His room, a proper human</p>
          </div>
        </div>
        <div class="mb_content">
          <h2>About</h2>

          <div class="mb_content_inner">
            <p>His many legs, pitifully thin compared with the size of the rest of him, waved about helplessly as he
              looked. "What's happened to me? " he thought. It wasn't a dream. His room, a proper human</p>
          </div>
        </div>
        <div class="mb_content">
          <h2>About</h2>

          <div class="mb_content_inner">
            <p>His many legs, pitifully thin compared with the size of the rest of him, waved about helplessly as he
              looked. "What's happened to me? " he thought. It wasn't a dream. His room, a proper human</p>
          </div>
        </div>
        <div class="mb_content">
          <h2>About</h2>

          <div class="mb_content_inner">
            <p>His many legs, pitifully thin compared with the size of the rest of him, waved about helplessly as he
              looked. "What's happened to me? " he thought. It wasn't a dream. His room, a proper human</p>
          </div>
        </div>
        <div class="mb_content">
          <h2>About</h2>

          <div class="mb_content_inner">
            <p>His many legs, pitifully thin compared with the size of the rest of him, waved about helplessly as he
              looked. "What's happened to me? " he thought. It wasn't a dream. His room, a proper human</p>
          </div>
        </div>
      </div>
    </div>
    <ul id="menu-circles">
      <li id="menu0" data-speed="1000" data-easing="easeOutBack">
        <div><span>Audit</span></div>
        <%= image_tag "audit.png" %>
      </li>
      <li id="menu1" data-speed="1000" data-easing="easeOutBack">
        <div><span>Advisory</span></div>
        <%= image_tag "advisory.png" %>
      </li>
      <li id="menu2" data-speed="1000" data-easing="easeOutBack">
        <div><span>Analytics</span></div>
        <%= image_tag "analytics.png" %>
      </li>
      <li id="menu3" data-speed="1000" data-easing="easeOutBack">
        <div><span>Appraisal</span></div>
        <%= image_tag "assessment.png" %>
      </li>
      <li id="menu4" data-speed="1000" data-easing="easeOutBack">
        <div><span>Training</span></div>
        <%= image_tag "training.png" %>
      </li>
    </ul>
    <div id="company-background">
    </div>
    <br/>
    <br/>


    <div id="admin-blocks" style="display: none;">
      <% if current_user.email=="admin@spatialaccessapp.in" %>
          <%#= link_to "Let us show you something", campaign_path(current_client.campaigns.where(active: true).last), class: "btn btn-danger", id: "sampler-link" %>
          <br/>
          <br/>
          <%#= link_to "Admin Panel", '/admin', class: "btn btn-warning btn-lg" %>
          <%#= link_to "Campaigns List", campaigns_path, class: "btn btn-info btn-lg" %>
          <%#= link_to "Presentation", new_presentation_path , class: "btn btn-danger btn-lg", id: "presentation-link" %>
      <% elsif current_user.email=="content@spatialaccessapp.in" %>
          <%= link_to "Let us show you something", campaign_path(current_client.campaigns.where(active: true).last), class: "btn btn-danger", id: "sampler-link" %>
          <br/>
          <br/>
          <%= link_to "Campaigns List", campaigns_path, class: "btn btn-warning btn-lg" %>
          <%= link_to "Presentation", new_presentation_path , class: "btn btn-danger btn-lg", id: "presentation-link" %>
      <% elsif current_user.email=="demo@spatialaccessapp.in" %>
          <div class="user-list-wrapper" style="background: white;">
            <table class="table">
              <tr>
                <th style="text-align: center;">Campaign Name</th>
              </tr>
              <% current_user.client.campaigns.each do |e| %>
                  <tr>
                    <td>
                      <%= link_to e.name, campaigns_path(e.id) %>
                    </td>
                  </tr>
              <% end %>
            </table>
          </div>
      <% end %>
    </div>
  </div>
</div>


    <script type="text/javascript" charset="utf-8">
        $(function () {
            $('#scene').parallax();
            setTimeout(function () {
                $('#scene').fadeIn(1500, function () {
                    $('.grower').animate({
                        width: "50%",
                        opacity: 1,
                        marginTop: "0px"
                    }, 1000, function () {
                        $('#menu-circles li').fade1by1();
                        setTimeout(function () {
                            var text = "India's first Media & Marketing Services Audit & Advisory Company, providing a wide range of audit, advisory and analytical services, our team services more than 120 clients across 7 cities in India and 6 countries across the globe.";
                            <% if current_user.email != "demo@spatialaccessapp.in" %>
                                var $company = $('#company-background');
                                $.each(text.split(''), function (i, letter) {
                                    setTimeout(function () {
                                        $company.html($company.html() + letter);
                                    }, 20 * i);
                                });
                                setTimeout(function () {
                                    $('#sampler-link').fadeIn();
                                    $('#mb_pattern').fadeIn();
                                    $('#admin-blocks').fadeIn();
                                }, 20 * text.length);
                            <% else %>
                                setTimeout(function () {
                                    $('#sampler-link').fadeIn();
                                    $('#admin-blocks').fadeIn();
                                }, 20 * text.length);
                            <% end %>
                        }, 500 * $('#menu-circles li img').length);
                    });
                });
            }, 500);


        });

        (function ($) {
            $.fn.fade1by1 = function (options) {
                var opt = $.extend({
                    'delay': 500,
                    'speed': 500,
                    'ease': 'linear'
                }, options);
                var that = this;
                for (var i = 0, d = 0, l = that.length; i < l; i++, d += opt.delay) {
                    that.eq(i).find('div').delay(d).animate({opacity: 0.8}, opt.speed, opt.ease, function () {
                        var $this = $(this);
                        setTimeout(function () {
                            $this.next().fadeIn(opt.speed, opt.ease);
                            $this.next().hover(
                                    function () {
                                        $(this).css('opacity', 0);
                                    }, function () {
                                        $(this).css('opacity', 1);
                                    });
                        }, 6000);
                    });
                }
            };
        })(jQuery);

        $.fn.animateRotate = function (angle, duration, easing, complete) {
            var args = $.speed(duration, easing, complete);
            var step = args.step;
            return this.each(function (i, e) {
                args.step = function (now) {
                    $.style(e, 'transform', 'rotate(' + now + 'deg)');
                    if (step) return step.apply(this, arguments);
                };

                $({deg: 0}).animate({deg: angle}, args);
            });
        };


    </script>


<script type="text/javascript">
    $(function () {
        var $menu = $('#menu-circles'),
                $menuItems = $menu.children('li'),
                $mbWrapper = $('#mb_content_wrapper'),
                $mbClose = $mbWrapper.children('.mb_close'),
                $mbContentItems = $mbWrapper.children('.mb_content'),
                $mbContentInnerItems = $mbContentItems.children('.mb_content_inner');
        $mbPattern = $('#mb_pattern');

        Menu = (function () {

            var init = function () {
                        initPlugins();
                        initPattern();
                        initEventsHandler();
                    },
            //initialise the jScollPane (scroll plugin)
                    initPlugins = function () {
                    },
            /*
             draws 16 boxes on a specific area of the page.
             we randomly calculate the top, left, and rotation angle for each one of them
             */
                    initPattern = function () {
                        for (var i = 0; i < 16; ++i) {
                            //random opacity, top, left and angle
                            var o = 0.3,
                                    t = Math.floor(Math.random() * 196) + 5, // between 5 and 200
                                    l = Math.floor(Math.random() * 546) + 75, // between 5 and 700
                                    a = Math.floor(Math.random() * 101) - 50; // between -50 and 50

                            $el = $('<div>').css({
                                opacity: o,
                                top: t + 'px',
                                left: l + 'px'
                            });

                            $el.transform({'rotate': a + 'deg'});

                            $el.appendTo($mbPattern);
                        }
                    },
            /*
             when the User closes a content item, we move the boxes back to the original place,
             with new random values for top, left and angle though
             */
                    disperse = function () {
                        $.each($mbPattern.children(), function (i) {
                            //random opacity, top, left and angle
                            var o = 0.3,
                                    t = Math.floor(Math.random() * 196) + 5, // between 5 and 200
                                    l = Math.floor(Math.random() * 546) + 75, // between 5 and 700
                                    a = Math.floor(Math.random() * 101) - 50; // between -50 and 50
                            $el = $(this),
                                    param = {
                                        width: '50px',
                                        height: '50px',
                                        opacity: o,
                                        top: t + 'px',
                                        left: l + 'px',
                                        transform: 'rotate(' + a + 'deg)'
                                    };
                            $el.animate(param, 1000, 'easeOutExpo');
                            $el.animateRotate(a);
                        });
                        setTimeout(function () {
                            $('#company-background').fadeIn();
                            $('#sampler-link').fadeIn();
                        }, 1200);
                    },
                    initEventsHandler = function () {
                        /*
                         click a link in the menu
                         */
                        $menuItems.bind('click', function (e) {
                            var $this = $(this),
                                    pos = $this.index(),
                                    speed = $this.data('speed'),
                                    easing = $this.data('easing');
                            //if an item is not yet shown
                            if (!$menu.data('open')) {
                                $('#company-background').fadeOut();
                                $('#sampler-link').fadeOut();
                                //if current animating return
                                if ($menu.data('moving')) return false;
                                $menu.data('moving', true);
                                $.when(openItem(pos, speed, easing)).done(function () {
                                    $menu.data({
                                        open: true,
                                        moving: false
                                    });
                                    showContentItem(pos);
                                    $mbPattern.children().fadeOut(500);
                                });
                            }
                            else
                                showContentItem(pos);
                            return false;
                        });

                        /*
                         click close makes the boxes animate to the top of the page
                         */
                        $mbClose.on('click', function (e) {
                            $menu.data('open', false);
                            $mbPattern.children().fadeIn(500, function () {
                                $mbContentItems.hide();
                                $mbWrapper.hide();
                            });

                            disperse();
                            return false;
                        });

                    },
            /*
             This shows a content item when there is already one shown:
             */
                    showContentItem = function (pos) {
                        $mbContentItems.hide();
                        $mbWrapper.show();
                        $mbContentItems.eq(pos).show().children('.mb_content_inner');
                    },
            /*
             moves the boxes from the top to the center of the page,
             and shows the respective content item
             */
                    openItem = function (pos, speed, easing) {
                        return $.Deferred(
                                function (dfd) {
                                    $mbPattern.children().each(function (i) {
                                        $(this).animate({
                                            width: '100px',
                                            height: '100px',
                                            top: 100 * Math.floor(i / 4) - 45,
                                            left: 200 + 100 * (i % 4),
                                            opacity: 0.8,
                                            transform: 'rotate(' + 0 + 'deg)'
                                        }, speed, easing, dfd.resolve);
                                        $(this).animateRotate(0);
                                    });
                                }
                        ).promise();
                    };

            return {
                init: init
            };

        })();

        /*
         call the init method of Menu
         */
        Menu.init();
    });
</script>