<style>
    #fwrapper {
        margin: 40px;
        padding: 40px;
        background: white;;
    }
</style>
<div id="fwrapper">
  <h1>Listing campaigns for <%= current_client.name.titlecase %></h1>
  <table>
    <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    </thead>

    <tbody>
    <% @campaigns.each do |campaign| %>
        <tr>
          <td><%= link_to 'Show', campaign %></td>
          <td><%= link_to 'Edit', edit_campaign_path(campaign) %></td>
          <td><%= link_to 'Destroy', campaign, method: :delete, data: {confirm: 'Are you sure?'} %></td>
        </tr>
    <% end %>
    </tbody>
  </table>

  <br>
  <%= link_to "New Campaign", new_campaign_path, class: "btn btn-danger btn-lg" %>
</div>

